<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Survival Kit Shop</title>
    </head>
<body>
    <form id="form" action="/update/{{rec[0]}}" method="POST">
        <label for="batch">batch supplier name:</label><br>
        <input type="text" id="batch" name="batch" value="{{rec[1]}}"/><br>
        <br>
        <label for="price">total price</label><br>
        <input type="number" id="price" name="price" value="{{rec[2]}}"/><br>
        <input type="submit" name="submit" value="update" style="color: green;"/>
    </form>
 
</body>
</html>